db/data
*.env
*.github
QuickMarkWeb/QuickMarkWeb.Server/bin
QuickMarkWeb/QuickMarkWeb.Server/obj
QuickMarkWeb/QuickMarkWeb.Server/.vs
QuickMarkWeb/QuickMarkWeb.Server/*.user
QuickMarkWeb/QuickMarkWeb.Server/*.suo
QuickMarkWeb/QuickMarkWeb.Server/*.cache
QuickMarkWeb/QuickMarkWeb.Server/*.swp
QuickMarkWeb/quickmarkweb.client/obj/Debug/quickmarkweb.client.esproj.FileListAbsolute.txt
