db/data
*.env
*.github
QuickMarkWeb/QuickMarkWeb.Server/bin
QuickMarkWeb/QuickMarkWeb.Server/obj
QuickMarkWeb/QuickMarkWeb.Server/.vs
QuickMarkWeb/QuickMarkWeb.Server/*.user
QuickMarkWeb/QuickMarkWeb.Server/*.suo
QuickMarkWeb/QuickMarkWeb.Server/*.cache
QuickMarkWeb/QuickMarkWeb.Server/*.swp
QuickMarkWeb/quickmarkweb.client/obj/Debug/quickmarkweb.client.esproj.FileListAbsolute.txt
QuickMarkWeb/QuickMarkWeb.Shared/bin/Debug/net8.0/Shared.dll
QuickMarkWeb/QuickMarkWeb.Shared/bin/Debug/net8.0/Shared.pdb
QuickMarkWeb/QuickMarkWeb.Shared/obj/project.assets.json
QuickMarkWeb/QuickMarkWeb.Shared/obj/project.nuget.cache
QuickMarkWeb/QuickMarkWeb.Shared/obj/Shared.csproj.nuget.dgspec.json
QuickMarkWeb/QuickMarkWeb.Shared/obj/Shared.csproj.nuget.g.props
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.AssemblyInfo.cs
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.AssemblyInfoInputs.cache
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.assets.cache
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.csproj.CoreCompileInputs.cache
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.csproj.FileListAbsolute.txt
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.dll
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.pdb
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/Shared.sourcelink.json
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/ref/Shared.dll
QuickMarkWeb/QuickMarkWeb.Shared/obj/Debug/net8.0/refint/Shared.dll
